.b28
	width 100%
	padding-top 75px
	padding-bottom 90px

.b28-cnt
	max-width 920px
	width 95%
	margin auto

.b28-texto
	max-width 700px
	width 100%
	margin auto
	font-size 14px
	text-align center
	p
		margin 0

.b28-form
	margin-top 65px
	.b28-form1
		padding 40px 0 40px 30px
		box-sizing border-box
	.b28-form2
		padding 40px 0 0px 30px
		box-sizing border-box
	li
		font-size 0
	.g-input
		display inline-block
		vertical-align top
		width 47.5%
		margin-right 5%
		margin-bottom 15px
	.g-input:last-child
		margin-right 0
	.g-textarea
		width 100%


.b28-titulo
	h3
		margin 0
		font-size 18px
		text-transform uppercase
	strong
		font-family t-2
		color c-3

.b28-botones
	margin-top 75px
	padding-left 30px
	.btn1
		margin-right 50px

.b28-detalle
	margin-top 65px
	padding-left 30px
	box-sizing border-box
	ul
		li
			position relative
			padding-left 22px
			line-height 1.9
			margin-bottom 9px
			&:before
				content "\e930"
				top 2px
				left 0
				color c-4
				font-size 12px
				font-family icomoon
				position absolute

@media screen and (min-width 1025px)
	.b28 .btn1:hover, .btn3:hover
		box-shadow 0 5px 5px rgba(182, 182, 182, 0.75)

@media screen and (max-width 1200px)
	.b28-form .b28-form1
		padding-left 0

	.b28-form .b28-form2
		padding-left 0

	.b28-botones
		padding-left 0

	.b28-detalle
		padding-left 0

@media screen and (max-width 1024px)
	.b28
		padding 50px 0

	.b28-botones
		margin-top 50px

	.b28-detalle
		margin-top 50px

	.b28-form
		margin-top 50px

@media screen and (max-width 640px)
	.b28
		padding 30px 0

	.b28-form .g-input
		width 100%
		margin-right 0

	.b28-botones
		margin-top 20px

	.b28-detalle
		margin-top 20px

	.b28-form
		margin-top 30px

	.b28-botones
		text-align center
		.btn1, .btn3
			margin 10px 10px
