.b6
	overflow hidden
	padding-top 70px
	padding-bottom 75px

.b6Main
	min-height 350px
	font-size 0
	position relative
	&:before
		content ""
		width 310px
		height 310px
		background url('../img/b6-img-bg.png') 0 0 no-repeat
		position absolute
		top 80px
		left -205px

.b6Left, .b6Right
	display inline-block
	vertical-align top
	width 50%
	box-sizing border-box

.b6Left
	padding-right 6%
	.b6Title
		margin-bottom 50px

.b6Right
	padding-left 3.5%
	.b6Title
		padding-left 70px
		margin-bottom 30px
		figure
			left 20px

.b6Title
	display inline-block
	position relative
	padding-left 50px
	h2
		line-height 1.2
		color c-1
		font-family t-7
		font-weight normal
		font-size 22px
		margin-bottom 0
	strong
		font-family t-6
		font-weight normal
	figure
		width 44px
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
	img
		img-res()

.b6BoxItem
	min-height 120px
	position relative
	margin-bottom 35px
	&:last-child
		margin-bottom 0

.b6GroupBox
	padding-top 5px
	padding-left 160px

.b6Subtitle
	margin-bottom 10px
	h3
		color c-4
		font-family t-1
		font-size 15px
		line-height 20px
		margin-bottom 0
	strong
		color c-3
		font-weight normal

.b6Text
	line-height 1.4
	color c-0
	font-family t-4
	font-size 15px
	p
		margin-bottom 0
	a
		color c-3
		text-decoration underline

.b6Img
	width 145px
	position absolute
	top 0
	left 0
	img
		img-res()

.b6BlockItem
	display block
	background blanco
	position relative
	&:before
		content ""
		width 1000px
		height 100%
		background blanco
		position absolute
		top 0
		right -1000px

.b24Table
	display table-cell
	vertical-align middle
	width 2000px
	height 94px
	box-sizing border-box
	padding-left 30px
	padding-right 20%

.b6Date
	display block
	color c-15
	font-family t-6
	font-size 16px
	position relative
	padding-left 20px
	margin-bottom 10px
	&:before
		content "\e91b"
		display inline-block
		color c-15
		font-family icomoon
		font-size 15px
		position absolute
		top 1px
		left 0

.b6TextBlock
	line-height 1.4
	color c-0
	font-family t-4
	font-size 14px
	p
		margin-bottom 0


// hover
@media screen and (min-width 1025px)
	.b6BlockItem, .b6BlockItem:before, .b6Date, .b6Date:before, .b6TextBlock
		transition all .5s ease-in-out

	.b6BlockItem:hover
		background c-5
		&:before
			background c-5

		.b6Date, .b6Date:before, .b6TextBlock
			color blanco


	// animacion
	.b6Main:before
		transform scale(0)
		transition all .5s ease-in-out

	.b6Left .b6Title, .b6Right .b6Title
		opacity 0
		visibility hidden
		transition all .5s ease-in-out

	.b6Left .b6Title
		transform translateX(-100px)

	.b6Right .b6Title
		transform translateX(100px)

	.b6Wrap, .b6Envolve
		opacity 0
		visibility hidden
		transition all .5s ease-in-out .5s

	.b6Wrap
		transform translateX(-100px)

	.b6Envolve
		transform translateX(100px)


	.b6.active
		.b6Main:before
			transform scale(1)

		.b6Left .b6Title, .b6Right .b6Title, .b6Wrap, .b6Envolve
			opacity 1
			visibility visible
			transform translateX(0)



// responsive
@media screen and (max-width 1600px)
	.b6Main
		min-height inherit
		&:before
			display none

@media screen and (max-width 1200px)
	.b6Left
		padding-right 2%

	.b6Right
		padding-left 2%

@media screen and (max-width 1024px)
	.b6
		padding 50px 0

	.b6Left
		width 55%

	.b6Right
		width 45%
		.b6Title
			padding-left 50px
			margin-bottom 50px
			figure
				left 0

	.b6BlockItem
		margin-bottom 30px
		&:before
			display none
		&:last-child
			margin-bottom 0

	.b24Table
		display block
		width auto
		height auto
		padding 0
		padding-left 10px


@media screen and (max-width 768px)
	.b6Left, .b6Right
		width 50%

	.b6Left
		padding-right 3%

	.b6Right
		padding-left 3%

	.b6Title
		h2
			font-size 20px

	.b6GroupBox
		padding-left 140px

	.b6Img
		width 120px


@media screen and (max-width 740px)
	.b6
		padding 30px 0

	.b6Main
		text-align center
		&.wancho
			max-width 520px

	.b6Left, .b6Right
		display block
		width 100%
		padding 0

	.b6Right
		margin-top 50px

	.b6Wrap, .b6Envolve
		text-align left

@media screen and (max-width 640px)
	.b6Right
		margin-top 30px
	
	.b6BoxItem
		border-bottom 1px solid #f2f2f2
		margin-bottom 0
		padding-top 30px
		padding-bottom 30px
		&:first-child
			padding-top 0
	
	.b6BlockItem
		border-bottom 1px solid #f2f2f2		
		padding-top 30px
		padding-bottom 30px
		margin-bottom 0
		&:first-child
			padding-top 0
		&:last-child
			border-bottom none
			padding-bottom 0
					
		
	.b6GroupBox
		margin-bottom 0
	
	.b6Img
		display none
	

@media screen and (max-width 480px)
	.b6Title
		padding-left 0
		figure
			display none

	.b6Right .b6Title
		padding-left 0

	.b6Left .b6Title, .b6Right .b6Title
		margin-bottom 30px

	.b6GroupBox
		padding 0

	.b6Img
		width 145px
		position static
