.b9
	height 222px
	overflow hidden
	background c-4

.b9Table	
	display table-cell
	vertical-align bottom
	width 2000px
	height 235px
	
.b9Title
	h1
		line-height 1
		color rgba(255,255,255,.15)
		font-family t-2
		font-weight normal
		font-size 80px
		margin-bottom 0


// responsive
@media screen and (max-width 1024px)
	.b9
		height 172px
		
	.b9Table
		height 180px
		
	.b9Title
		h1
			font-size 50px

@media screen and (max-width 640px)
	.b9
		height 146px
		
	.b9Table
		height 150px
		
	.b9Title
		h1
			font-size 30px