.header-overlay
	display block
	width 100%
	height 100%
	background negro
	position fixed
	top 0
	left 0
	z-index -1
	opacity 0
	visibility hidden
	transition all .2s ease-in-out
	&.active
		opacity 1
		visibility visible
		opacity .7
		z-index 150

.header-position
	width 100%
	position fixed
	top 0
	left 0
	z-index 250
	box-shadow 0px -1px 10px 0px rgba(0,0,0,0)	

.main-header
	position relative

.h1-block
	height 80px
	background c-4	
	position relative
	z-index 1201
	transition all .25s ease
	

.h1-cnt
	font-size 0
	text-align right
	position relative
	
.h1-logo
	display block
	width 201px
	position absolute
	top 18px
	left 0
	transition all .25s ease
	figure
		width 100%
	img
		img-res()

.h1-logo-1
	opacity 1
	visibility visible

.h1-logo-2
	opacity 0
	visibility hidden
			

.h1-boxRight
	display inline-block

.h1-group
	margin-bottom 15px	

.h1-menuTop, .h1-languaje
	display inline-block
	vertical-align top

.h1-menuTop
	padding-top 10px
	li
		display inline-block
		vertical-align top
		margin-left 25px
		&:first-child
			margin-left 0
	a
		display inline-block
		line-height 1
		color blanco
		font-family t-0
		font-size 14px
		position relative
		padding-left 22px
		transition-all()
	span
		display inline-block
		color blanco
		font-size 16px
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
		transition-all()

.h1-menuTop
	@media screen and (min-width 1025px)
		li:hover
			a, span
				color c-3

.h1-resp-carrito
	display none

.h1-languaje
	margin-left 25px
	li
		display inline-block
		vertical-align top
		position relative
	li:before
		content ""
		width 1px
		height 14px
		background blanco
		position absolute
		right 0
		bottom 4px
		opacity 1
		visibility visible
	li:last-child
		&:before
			display none
	a
		display table-cell
		vertical-align bottom
		width 45px
		height 28px
		background transparent
		color blanco
		font-family t-7
		font-size 14px
		text-align center
		box-sizing border-box
		padding-bottom 3px
		transition-all()

.h1-languaje
	&.bordes
		li:before
			opacity 1
			visibility visible
	&.borde-1
		li:nth-child(1)
			&:before
				opacity 1
				visibility visible
	&.borde-2
		li:nth-child(2)
			&:before
				opacity 1
				visibility visible

.h1-languaje
	li.active
		a
			background c-3
	li.delet-borde1
		&:before
			opacity 0
			visibility hidden	
	@media screen and (min-width 1025px)
		li:hover
			a
				background c-3
				
		&.bordes
			li:before
				opacity 0
				visibility hidden
		&.borde-1
			li:nth-child(1)
				&:before
					opacity 0
					visibility hidden
		&.borde-2
			li:nth-child(2)
				&:before
					opacity 0
					visibility hidden

.h1-wrap
	position relative
	padding-right 60px

.h1-menu
	font-size 16px
	li
		display inline-block
		vertical-align top
		margin-left 30px
		&:first-child
			margin-left 0
	a
		display inline-block
		line-height 1
		color blanco
		font-family t-0
		font-size 15px
		text-transform uppercase
		transition-all()

.h1-menu
	li.active
		a
			color c-3		
	@media screen and (min-width 1025px)
		li:hover
			a
				color c-3

.h1-openDesplegable, .h1-closeDesplegable
	display block
	width 30px
	height 30px
	line-height 30px
	font-size 16px
	text-align center
	cursor pointer
	position absolute
	top 50%
	right 0
	margin-top -15px
	transition all .4s ease-in-out

.h1-openDesplegable
	color c-3

.h1-closeDesplegable
	color c-4
	
.h1-openDesplegable, .h1-closeDesplegable	
	@media screen and (min-width 1025px)
		&:hover
			color blanco
			
.h1-openDesplegable
	transform scale(1) rotate(0deg)
	opacity 1
	visibility visible
	&.active
		transform scale(0) rotate(180deg)
		opacity 0
		visibility hidden

.h1-closeDesplegable
	color c-4
	transform scale(0) rotate(-180deg)
	opacity 0
	visibility hidden
	&.active
		transform scale(1) rotate(0deg)
		opacity 1
		visibility visible


.h2-block
	width 100%
	height 306px
	box-sizing border-box
	position absolute
	top -306px
	left 0
	z-index -1
	opacity 0
	visibility hidden
	padding-top 135px
	backgroundsize()
	&.active
		transition all .25s ease
		top 0
		z-index 1200
		opacity 1
		visibility visible

.h2-cnt
	position relative
	box-sizing border-box
	padding-right 240px

.h2-subtitle
	margin-bottom 14px
	h3
		color blanco
		font-family t-0
		font-size 14px
		text-transform uppercase
		margin-bottom 0

.h2-menu
	ul
		column-count 3
		column-gap 50px
	li
		position relative
		padding-left 15px
		margin-bottom 25px
	li:before
		content ""
		width 5px
		height 5px
		background blanco
		border-radius 50%
		position absolute
		top 7px
		left 0
		
	a
		color blanco
		font-family t-0
		font-size 15px
		text-transform uppercase
		position relative
		padding-bottom 2px
	a:after
		content ""
		width 100%
		height 1px
		background blanco
		position absolute
		left 0
		bottom 0
		opacity 0
		visibility hidden
		transition-all()

.h2-menu
	li.active
		a:after
			opacity 1
			visibility visible		
	@media screen and (min-width 1025px)
		li:hover
			a:after
				opacity 1
				visibility visible

.h2-redes
	width 205px
	position absolute
	top 0
	right 0				

.h2-iconos
	ul
		font-size 0
	li
		display inline-block
		vertical-align top
		margin-top 6px
		margin-right 6px
		&:last-child
			margin-right 0
	a
		display block
		width 28px
		height 28px
		line-height 28px
		background transparent
		color blanco
		font-size 14px
		text-align center
		border 1px solid blanco
		border-radius 50%
		transition-all()
	@media screen and (min-width 1025px)
		li:hover
			a
				background c-4
				border 1px solid c-4
				
.h2-btn
	margin-top 5px


// color header - open desplegable
.header.header-color
	.h1-block
		background transparent

	.h1-menuTop
		@media screen and (min-width 1025px)
			li:hover
				a, span
					color c-4
					
	.h1-languaje
		li.active
			a
				background c-4
		@media screen and (min-width 1025px)
			li:hover
				a
					background c-4

	.h1-menu
		li.active
			a
				color c-4		
		@media screen and (min-width 1025px)
			li:hover
				a
					color c-4

	.h1-openDesplegable, .h1-closeDesplegable
		color c-4
		@media screen and (min-width 1025px)
			&:hover
				color blanco


// bodyclass - home
.header-home
	.h1-block
		background transparent
			
	.h1-menuTop
		@media screen and (min-width 1025px)
			li:hover
				a, span
					color c-4

	.h1-languaje
		li.active
			a
				background c-4
		@media screen and (min-width 1025px)
			li:hover
				a
					background c-4

	.h1-menu
		li.active
			a
				color c-4		
		@media screen and (min-width 1025px)
			li:hover
				a
					color c-4

	.h1-openDesplegable, .h1-closeDesplegable
		color c-4
		@media screen and (min-width 1025px)
			&:hover
				color blanco


// scroll
.header-home
	.header.active
		.header-position
			box-shadow 0px -1px 10px 0px rgba(0,0,0,.1)
					
		.h1-block
			background blanco

		.h1-logo-1
			opacity 0
			visibility hidden

		.h1-logo-2
			opacity 1
			visibility visible			

		.h1-menuTop
			a
				color negro
			span
				color c-4
			@media screen and (min-width 1025px)
				li:hover
					a
						color c-4				
						
		.h1-languaje
			a
				color negro
			li:before
				background negro
			li.active
				a
					background c-3
					color blanco
			@media screen and (min-width 1025px)
				li:hover
					a
						background c-3		
						color blanco

		.h1-menu
			a
				color c-3
			li.active
				a
					color c-4		
			@media screen and (min-width 1025px)
				li:hover
					a
						color c-4
												
		.h1-openDesplegable, .h1-closeDesplegable
			color c-3
			@media screen and (min-width 1025px)
				&:hover
					color c-4												


// color home desplegable en header.active
.home-color-desplegable
		.h1-block
			background transparent !important

		.h1-logo-1
			opacity 1 !important
			visibility visible !important

		.h1-logo-2
			opacity 0 !important
			visibility hidden !important

		.h1-menuTop
			a
				color blanco !important
			span
				color blanco !important
			@media screen and (min-width 1025px)
				li:hover
					a
						color c-4 !important
						
		.h1-languaje
			a
				color blanco !important
			li:before
				background blanco !important
			li.active
				a
					background c-4 !important
					color blanco !important
			@media screen and (min-width 1025px)
				li:hover
					a
						background c-4 !important
						color blanco !important

		.h1-menu
			a
				color blanco !important
			li.active
				a
					color c-4 !important		
			@media screen and (min-width 1025px)
				li:hover
					a
						color c-4 !important
												
		.h1-openDesplegable, .h1-closeDesplegable
			color blanco !important
			@media screen and (min-width 1025px)
				&:hover
					color c-4 !important


// Menu responsive
.resp-logo
	display block	
	width 160px
	padding-top 30px
	padding-bottom 15px
	margin auto
	figure
		width 100%
	img
		img-res()
		
.menu-overlay
	position fixed
	top 0
	left 0
	background-color black
	z-index -1
	width 100%
	height 100%
	opacity 0
	cursor pointer
	transition all 0.45s ease
	&.active
		z-index 1000
		opacity 0.8
.menu-mobile-close, .menu-mobile-open
	background c-4
	border-radius 7%
	color white
	cursor pointer
	font-size 28px
	height 42px
	line-height 42px
	position fixed
	right 5px
	text-align center
	top 14px
	transition all 0.45s ease
	width 42px
	transform rotate(0deg)
.menu-mobile-open
	opacity 1
	visibility hidden
	z-index 1002
	&.scrolling
		opacity 0.6
	&:hover
		opacity 1
	&.active
		visibility hidden
		opacity 0
		right 220px
		z-index 1000
		transform rotate(-90deg)
.menu-mobile-close
	visibility hidden
	opacity 0
	z-index 1000
	&.active
		visibility visible
		opacity 1
		right 205px
		z-index 1002
		transform rotate(-90deg)
.menu-sidebar
	width 220px
	height 100%
	overflow auto
	position fixed
	top 0
	right -220px
	background blanco
	z-index 1000
	transition right 0.45s ease
	&.active
		right 0

	.h1-languaje
		display block
		text-align center
		margin-top 7px
		margin-left 0
		margin-bottom 20px
		li:before
			background c-3
			bottom 7px
		a
			vertical-align middle
			color c-3
			padding-bottom 0
		li.active 
			a
				color blanco
	
	.h2-btn
		margin 0
		a
			display table-cell
			vertical-align middle
			width 500px
			line-height 1
			text-align center
			padding 0
	
	.h2-iconos 
		text-align center
		li
			margin 0 3px
			
		a
			width 24px
			height 24px
			line-height 24px
			font-size 13px
			color c-3
			border 1px solid c-3
	


.menu-responsive, .menu-toggle-resp			
	a, h4
		display table-cell
		vertical-align middle
		width 500px
		height 38px
		background rgba(51,62,72, 0)
		color c-3
		font-family t-0
		font-size 13px
		text-transform uppercase
		padding 0 10px
	li.active
		a
			background rgba(51,62,72, .1)			
	
.menu-toggle-resp:last-child
	li:last-child
		display block
		
.menu-toggle-resp
	li:last-child, .delet-resp, .desplegableResp
		display none
		
	.openToggleResp
		cursor pointer
		position relative	
			
	.iconOpenToggle, .iconCloseToggle
		display block
		width 30px
		height 38px
		line-height 38px
		position absolute
		top 0
		right 10px
		transition all .25s ease-in-out
		&:before
			content "\e905"
			display block
			width 100%
			height 100%
			color c-3
			font-family icomoon
			font-size 11px
			text-align center
			
	.iconCloseToggle
		&:before
			content "\e906"
						
	.openToggleResp
		.iconOpenToggle
			transform scale(1) rotate(0deg)		
			opacity 1
			visibility visible
			z-index 1
		.iconCloseToggle
			transform scale(0) rotate(-180deg)
			opacity 0
			visibility hidden
			z-index -1
		&.active
			background rgba(51,62,72, .1)
			.iconOpenToggle
				transform scale(0) rotate(180deg)			
				opacity 0
				visibility hidden
				z-index -1
			.iconCloseToggle
				transform scale(1) rotate(0deg)				
				opacity 1
				visibility visible
				z-index 1
				

.cnt-wrapper,.footer
	position relative
	left 0
	transition left 0.45s ease
	&.active
		left -200px
.wrapper
	overflow hidden

body
	&.active
		overflow hidden


// responsive
@media screen and (max-width 1024px)
	.menu-mobile-open
		visibility visible
		
	.h2-block, .h1-menuTop ul, .h1-languaje, .h1-wrap
		display none
	
	.h1-block
		height 70px
	
	.h1-logo
		top 8px
		z-index 2
	
	.h1-boxRight
		display block
		height 70px
		position relative
	
	.h1-resp-carrito
		display inline-block
		position absolute
		top 50%
		right 60px
		padding-left 28px
		margin-top -14px
	
	.h1-resp-icono
		display inline-block
		color blanco
		font-size 20px
		position absolute
		top 50%
		left 0
		margin-top -10px
	
	.h1-resp-number
		display inline-block
		width 25px
		height 25px
		line-height 25px
		background blanco
		color c-4
		font-family t-0
		font-size 14px
		text-align center
		border-radius 50%

	.header-home
		.h1-resp-icono
			color c-4
		.h1-resp-number
			background c-4
			color blanco
		

@media screen and (max-width 480px)
	.h1-logo
		width 150px
		top 20px