{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 19 -->

<div class="b19-container">
    <div class="b19-cnt">
        <div class="b19-img">
            <img src="{{ STATIC_URL }}img/b19-img.jpg" alt="" width="60" height="47">
        </div>
        <div class="b19-titulo">
            <h2>Olvidaste tu contraseña</h2>
            <p>Escribe tu dirección de correo electrónico.
            Le enviaremos un enlace para que pueda cambiar su contraseña.</p>
        </div>

        <div class="b19-form">
            <form id="form-contrasenia" action="."  method="post">
                  {% csrf_token %}
                  <input style="display:none">
                <div class="b19-input">
                      {{ form.username}}
                      {{ form.username.errors }}
                </div>

                <div class="b19-boton ">{# solounclick #}
                    <button class="g-btn5">
                        <span class="btn-text">Enviar</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
    <!-- SUSCRIBETE START -->
</div>
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){


    });

</script>
{% endblock %}
