{% extends "common/_base.html" %}
{% load app_tags %}
{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b28">
  <div class="b28-cnt">
    <div class="b28-texto">
      {{ seccion.descript|safe }}
    </div>
    <div class="b28-form">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="b28-titulo">
          <h3><strong>{{"Ingrese su nueva contraseña"|t}}</h3>
        </div>
        <ul class="b28-form1">
           {{ form.uuid_hash}}
           {{ form.email}} 
           <li>
            <div class="g-input">
              <label>{{"Nueva Contraseña"|t}}</label>
              <input name="password" type="password" class="validate[required]"  id="password">
            </div>
            <div class="g-input">
              <label>{{"Repetir Contraseña:"|t}}</label>
              <input type="password" class="validate[required,equals[password]]"  >
            </div>
          </li>
        </ul>
        <div class="b28-botones">
          <button class="btn3">{{"Guardar"|t}}</button>
        </div>
      </form>
    </div>
    <div class="b28-detalle">{{ seccion.pie|safe }}</div>
  </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){


    });

</script>
{% endblock %}
