{% extends 'common/_base.html' %}
{% load app_seo_tags %}
{% load app_tags %}
{% load thumbnail %}
{% load fb_versions %}
{% load static %}
{% load i18n %}
{% block SEOTags %}
{% if request.get_full_path|getSEOTags:"Verify" %}
	{{ request.get_full_path|getSEOTags }}
{% else %}
	<title>{{ info.titulo }} | {{ noticia.nombre }}</title>
	<meta property="og:url"           content="{{ uri_canonical }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ info.titulo }} | {{ noticia.nombre }}" />
	<meta property="og:description"   content="{{ noticia.descript|safe|striptags }}" />
	<meta property="og:image"         content="{{ base_url }}{{ noticia.img.url }}" />
{% endif %}
{% endblock %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 9 -->
<section class="b9">
	<div class="b9Main wancho">
		<div class="b9Table">
			<div class="b9Title">
				<h1>{{"Noticias"|t}}</h1>
			</div>
		</div>
	</div>
</section>

<!-- BLOQUE 32 -->
<section class="b32">
	<div class="b32-cnt wancho">
		<a href="{% url 'notivent:noticias' %}" class="b32-back"><< {{"Regresar"|t}}</a>
		<div class="b32-cnt-prin">
			<div class="b32-fecha">
				{{ noticia.fecha|date:'d b Y'|title }}
			</div>
			<div class="b32-title">
				<h2>{{ noticia.nombre }}</h2>
			</div>
			<figure class="b32-img">
				<img src="{{ noticia.img.url }}" width="{{noticia.img.width}}" height="{{noticia.img.height}}">
			</figure>
			<div class="b32-text">
				{{ noticia.descript|safe }}
			</div>
			<div class="b32-compartir">
				{{"Compartir en:"|t}} <a href="{{ uri_canonical }}" class="icon-facebook"></a>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
	$('.icon-facebook').click( function(){
		var shareurl = $(this).data('shareurl');
		window.open('https://www.facebook.com/sharer/sharer.php?u='+escape('{{ uri_canonical }}')+'&t='+document.title, '', 
		'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
		return false;
	});
</script>
{% endblock %}
