.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.btn1 {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  border: none;
  background: #05ce7b;
}
.btn1 .btn-ico {
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 40px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn2 {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  border: none;
  background: #05ce7b;
  padding-right: 52px;
}
.btn2 .btn-ico {
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 40px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn2 .btn-ico {
  right: 25px;
}
.btn3 {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  border: none;
  background: #01307a;
}
.btn3 .btn-ico {
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 40px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1025px) {
  .btn1:hover {
    background: #01307a;
  }
  .btn2:hover {
    background: #01307a;
  }
  .btn2:hover .btn-ico {
    right: 20px;
  }
  .btn3:hover {
    background: #05ce7b;
  }
}
