.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b27 {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 115px;
}
.b27-wrapper.wancho {
  max-width: 867px;
}
.b27-title {
  text-align: center;
  padding: 0px 0px 20px;
  position: relative;
}
.b27-title h3 {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #60b268;
}
.b27-title span {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #0032a0;
}
.b27-title-img {
  width: 70px;
  position: absolute;
  top: -15px;
  left: 50px;
  right: 0;
}
.b27-title-img img {
  width: 100%;
  height: auto;
  display: block;
}
.b27-accordion {
  padding-top: 30px;
}
.b27-tabs {
  display: block;
  position: relative;
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: normal;
  font-size: 15px;
  background-color: #f2f2f2;
  padding: 10px 30px 10px 20px;
  box-sixing: border-box;
  margin-top: 10px;
  cursor: pointer;
  color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.b27-tabs span {
  position: absolute;
  right: 20px;
  font-size: 30px;
  top: 5px;
  font-weight: bold;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #4d4d4d;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.b27-tabs.active {
  color: #0032a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(0,54,156,0.1);
}
.b27-tabs.active span {
  color: #0032a0;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.b27-tab {
  display: none;
}
.b27-tab-content {
  line-height: 1.4;
  color: #394049;
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 14px;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.b27-tab-content p {
  margin-bottom: 15px;
}
.b27-tab-content p:last-child {
  margin-bottom: 0;
}
.b27-tab-content ul li {
  position: relative;
  padding-left: 22px;
  line-height: 1.9;
  margin-bottom: 9px;
}
.b27-tab-content ul li:before {
  content: "\e930";
  top: 2px;
  left: 0;
  color: #05ce7b;
  font-size: 12px;
  font-family: 'icomoon';
  position: absolute;
}
@media screen and (min-width: 1025px) {
  .b27-tabs:hover {
    color: #0032a0;
    background-color: rgba(0,54,156,0.1);
  }
  .b27-tabs:hover span {
    color: #0032a0;
  }
}
@media screen and (max-width: 1024px) {
  .b27 {
    padding: 50px 0px;
  }
}
@media screen and (max-width: 640px) {
  .b27 {
    padding: 30px 0px;
  }
  .b27-title h3 {
    font-size: 28px;
  }
  .b27-title span {
    font-size: 16px;
  }
  .b27-tabs {
    font-size: 13px;
  }
  .b27-tabs span {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .b27-title h3 {
    font-size: 26px;
  }
  .b27-title span {
    font-size: 14px;
  }
}
