.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b6 {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 75px;
}
.b6Main {
  min-height: 350px;
  font-size: 0;
  position: relative;
}
.b6Main:before {
  content: "";
  width: 310px;
  height: 310px;
  background: url("../img/b6-img-bg.png") 0 0 no-repeat;
  position: absolute;
  top: 80px;
  left: -205px;
}
.b6Left,
.b6Right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b6Left {
  padding-right: 6%;
}
.b6Left .b6Title {
  margin-bottom: 50px;
}
.b6Right {
  padding-left: 3.5%;
}
.b6Right .b6Title {
  padding-left: 70px;
  margin-bottom: 30px;
}
.b6Right .b6Title figure {
  left: 20px;
}
.b6Title {
  display: inline-block;
  position: relative;
  padding-left: 50px;
}
.b6Title h2 {
  line-height: 1.2;
  color: #394049;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 0;
}
.b6Title strong {
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: normal;
}
.b6Title figure {
  width: 44px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.b6Title img {
  width: 100%;
  height: auto;
  display: block;
}
.b6BoxItem {
  min-height: 120px;
  position: relative;
  margin-bottom: 35px;
}
.b6BoxItem:last-child {
  margin-bottom: 0;
}
.b6GroupBox {
  padding-top: 5px;
  padding-left: 160px;
}
.b6Subtitle {
  margin-bottom: 10px;
}
.b6Subtitle h3 {
  color: #05ce7b;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}
.b6Subtitle strong {
  color: #0032a0;
  font-weight: normal;
}
.b6Text {
  line-height: 1.4;
  color: #4d4d4d;
  font-family: 'Gotham-Light', sans-serif;
  font-size: 15px;
}
.b6Text p {
  margin-bottom: 0;
}
.b6Text a {
  color: #0032a0;
  text-decoration: underline;
}
.b6Img {
  width: 145px;
  position: absolute;
  top: 0;
  left: 0;
}
.b6Img img {
  width: 100%;
  height: auto;
  display: block;
}
.b6BlockItem {
  display: block;
  background: #fff;
  position: relative;
}
.b6BlockItem:before {
  content: "";
  width: 1000px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: -1000px;
}
.b24Table {
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  height: 94px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 20%;
}
.b6Date {
  display: block;
  color: #4d4d4d;
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.b6Date:before {
  content: "\e91b";
  display: inline-block;
  color: #4d4d4d;
  font-family: 'icomoon';
  font-size: 15px;
  position: absolute;
  top: 1px;
  left: 0;
}
.b6TextBlock {
  line-height: 1.4;
  color: #4d4d4d;
  font-family: 'Gotham-Light', sans-serif;
  font-size: 14px;
}
.b6TextBlock p {
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .b6BlockItem,
  .b6BlockItem:before,
  .b6Date,
  .b6Date:before,
  .b6TextBlock {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .b6BlockItem:hover {
    background: #1577f8;
  }
  .b6BlockItem:hover:before {
    background: #1577f8;
  }
  .b6BlockItem:hover .b6Date,
  .b6BlockItem:hover .b6Date:before,
  .b6BlockItem:hover .b6TextBlock {
    color: #fff;
  }
  .b6Main:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .b6Left .b6Title,
  .b6Right .b6Title {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .b6Left .b6Title {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .b6Right .b6Title {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  .b6Wrap,
  .b6Envolve {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
    -ms-transition: all 0.5s ease-in-out 0.5s;
    transition: all 0.5s ease-in-out 0.5s;
  }
  .b6Wrap {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .b6Envolve {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  .b6.active .b6Main:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .b6.active .b6Left .b6Title,
  .b6.active .b6Right .b6Title,
  .b6.active .b6Wrap,
  .b6.active .b6Envolve {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (max-width: 1600px) {
  .b6Main {
    min-height: inherit;
  }
  .b6Main:before {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .b6Left {
    padding-right: 2%;
  }
  .b6Right {
    padding-left: 2%;
  }
}
@media screen and (max-width: 1024px) {
  .b6 {
    padding: 50px 0;
  }
  .b6Left {
    width: 55%;
  }
  .b6Right {
    width: 45%;
  }
  .b6Right .b6Title {
    padding-left: 50px;
    margin-bottom: 50px;
  }
  .b6Right .b6Title figure {
    left: 0;
  }
  .b6BlockItem {
    margin-bottom: 30px;
  }
  .b6BlockItem:before {
    display: none;
  }
  .b6BlockItem:last-child {
    margin-bottom: 0;
  }
  .b24Table {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    padding-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .b6Left,
  .b6Right {
    width: 50%;
  }
  .b6Left {
    padding-right: 3%;
  }
  .b6Right {
    padding-left: 3%;
  }
  .b6Title h2 {
    font-size: 20px;
  }
  .b6GroupBox {
    padding-left: 140px;
  }
  .b6Img {
    width: 120px;
  }
}
@media screen and (max-width: 740px) {
  .b6 {
    padding: 30px 0;
  }
  .b6Main {
    text-align: center;
  }
  .b6Main.wancho {
    max-width: 520px;
  }
  .b6Left,
  .b6Right {
    display: block;
    width: 100%;
    padding: 0;
  }
  .b6Right {
    margin-top: 50px;
  }
  .b6Wrap,
  .b6Envolve {
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  .b6Right {
    margin-top: 30px;
  }
  .b6BoxItem {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .b6BoxItem:first-child {
    padding-top: 0;
  }
  .b6BlockItem {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .b6BlockItem:first-child {
    padding-top: 0;
  }
  .b6BlockItem:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .b6GroupBox {
    margin-bottom: 0;
  }
  .b6Img {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .b6Title {
    padding-left: 0;
  }
  .b6Title figure {
    display: none;
  }
  .b6Right .b6Title {
    padding-left: 0;
  }
  .b6Left .b6Title,
  .b6Right .b6Title {
    margin-bottom: 30px;
  }
  .b6GroupBox {
    padding: 0;
  }
  .b6Img {
    width: 145px;
    position: static;
  }
}
