{% extends "email/base.html" %}

{% block title %}Contacto{% if ideas %} - Ideas{% endif %}{% endblock %}

{% block content %}
<h1 style="color:#666666; font-size:26px; line-height:1.2; font-weight:normal; margin-top:0; margin-bottom:0.5em;">Contacto{% if ideas %} - Ideas{% endif %}</h1>
<p style="margin-top:0; margin-bottom:0;">
	Confirmación de Contacto:
	<table>
		<tr>
			<th style="text-align: left;width: 90px;">Nombres : </th>
			<td> {{ nombres }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Apellidos : </th>
			<td> {{ apellidos }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">E-mail : </th>
			<td>{{ email }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Télefono : </th>
			<td> {{ telefono }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Documento : </th>
			<td>{{ doc_type }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 120px;">N° de documento :</th>
			<td>{{ doc_num }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Tipo : </th>
			<td>{{ tipo }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Monto : </th>
			<td>{{ monto }}</td>
		</tr>
		<tr>
			<th style="text-align: left;width: 90px;">Descripción : </th>
			<td>{{ descript|linebreaksbr }}</td>
		</tr>

	</table>
</p>
{% endblock %}
