{% extends "common/_base.html" %}
{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}



<!-- BLOQUE 25 -->
<section class="b2k5">
  <div class="b25-ctkn wancho">
    <!-- titulos -->
    <div class="g-title">
      <h3 >mi usuario</h3>
    </div>
      {% if messages %}
      {% for message in messages %}
        <div data-alert class="alert-box radius {{ message.tags }}">
              {{ message }}
                  <a href="#" class="close">&times;</a>
              </div>
          {% endfor %}
      {% endif %}
    <div class="b25-itekjm">
      <a href="{% url 'custom_auth:profile'%}" >
      <div class="b25-box">
        <span class="b25-icon icon-persona2"></span>
      </div>
      </a>
      <div class="b25-bjtn">
        <a href="{% url 'custom_auth:profile'%}" class="g-btn-negro">mi perfil</a>
      </div>
    </div>
    <div class="b25-itjem">
      <a href="{% url 'custom_auth:orders'%}" >
      <div class="b25-box">
        <span class="b25-icon icon-bolso"></span>
      </div>
      </a>
      <div class="b25-bktn">
        <a href="{% url 'custom_auth:orders'%}" class="g-btn-negro">mis compras</a>
      </div>
    </div>
    <div class="b25-item">
      <a href="{% url 'custom_auth:addresses'%}" >
      <div class="b25-box">
        <span class="b25-icon icon-map"></span>
      </div>
      </a>
      <div class="b25-btn">
        <a href="{% url 'custom_auth:addresses'%}" class="g-btn-negro">mi dirección</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block jsfinal %}

<script type="text/javascript">
  $(function(){


  });
</script>
{% endblock %}
